@model IEnumerable<CandidatoViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="alert-success">
    @ViewBag.Sucesso
</div>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCandidato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobreome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aniversario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataIngresso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataUltimaAlteracao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCandidato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobreome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aniversario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataIngresso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataUltimaAlteracao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCandidato">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCandidato">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCandidato">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
